<footer class="footer">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <p>This project is a part of <a href="https://github.com/CounterStrikeSharp">CounterStrikeSharp</a></p>
                <a href="https://github.com/CounterStrikeSharp/GamedataChecker">Source code</a>
            </div>
        </div>
    </div>
</footer>